:root{
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border:.1rem solid rgba(255,255,255,0.2)
}





*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
}

body{
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

.nav-link{
    color: #fff !important;
}

.fas{
    color: #fff !important;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background:#13131a !important;
    border-radius: 5rem;

}

.nav-link{
    color: #fff !important;
    padding-right: 1.5rem !important;
}

.navbar-nav{
    margin: 0 auto;
    width: 50vw !important;
    font-size: 1.6rem;
    color: #fff ;
    align-items: center;

}

.navbar-nav a:hover{
    color: var(--main-color) !important;
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.icons {
    color: #fff ;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
}


.navbar .icons .fas{
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

.icons a:hover{
    color:var(--main-color) !important;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin: 2rem 0 1rem 0;
}

.btn{
    margin-top: 2rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}


/*Home Page*/

.home{
    min-height: 100vh;
    display: flex;
    background:  url('/images/home-img.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}


.home .content{
    max-width: 60rem;
}

.home .content h1{
    color: #fff;
    margin-top: 10rem;
    font-size: 7rem;
    text-transform: uppercase;
}

.home .content p{
    color: #eee;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
}


/* About Us */

.about .heading{
    margin: 0;
    color: #eee;
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    text-transform: uppercase;
    margin: 0 0 2.5rem 0;

}


.content h3{
    color: #fff;
}

.about{
    justify-content: center;
    align-items: center;
    background: var(--black);
   
}

.about .row{
    display: flex;
}


.about .row .col-6 img{
    width: 100%;
}

.about .row .col-6 .about-content{
    text-align: left;
    margin-left: 0;
    margin: 3rem 1rem 0 1rem;
    color: #fff;
    font-size: medium;
    
}

.about .row .col-6 h3{
    font-size: 3rem;
    color: #fff;
}


/*-------------- menu ------------ */

.menu .heading{
    margin: 3.5rem;
}

.menu .box-container .box{
    border: var(--border);
    text-align: center;
    margin: .5rem .5rem;
    max-width: 25% !important;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 1.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .price span{
    color: #ccc;
    font-size: 1.5rem;
    text-decoration: line-through;
}
.menu .box-container .box img{
    height: 10rem;
    padding: .7rem;
}

.menu .box-container .box .btn{
    margin-bottom: 1rem;
}

/*------------------- Products ------------*/

.product .box-container .box{
    border: var(--border);
    text-align: center;
    margin: 1rem 1rem;
    max-width: 25% !important;
}

.product .heading{
    margin: 3.5rem;
}

.product .box-container .box img{
    height: 25rem;
    overflow: hidden;
    margin: 2rem 0;
}

.product .box-container .box .icons a{
    height: 5rem;
    width: 3.5rem;
    line-height: 5rem;
    font-size: 2rem;
    margin: .3rem;
}

.product .box-container .box .content i{
    color: #d3ad7f;
}

.product .box-container .box .content h3{
    font-size: 2.5rem;
    padding: .5rem;
}

.product .box-container .price{
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem;
}

.product .box-container .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    color: #ccc;
}

.product .box-container .box .image:hover{
    transform: scale(1.1);
}

.product .box-container .box .price:hover{
    transform: scale(1.1);
}


/*------------------- Reviews --------------*/

.review .heading{
    margin: 5rem auto;
}

.review .box-container .box{
    border: var(--border);
    margin: 2rem;
    border-color: var(--main-color);
    align-items: center;
    border-radius: 25px;
}

.review .box-container .box .quote{
    margin: .8rem;
}

.review .box-container .box h3{
    color: #fff;
    margin: 1rem;
    margin-bottom: 2rem;
}

.review .box-container .box img{
    margin: 1rem;
}

.review .box-container .box p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
}

.review .box-container .box .profile{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}


/* contacts */

.contact{
    align-items: center;
    margin: 0 auto;
    text-align: center;
    height: 60vh !important;
    width: 80vw;
    margin-bottom: 10rem;
}
.contact .row{
    background-color: #0d0d16;
    min-height: 40vh !important;
    padding: 2rem 0;
}

.contact .row {
    width: 90%;
}

.contact .row h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 3.5rem;
}

.contact .row .inputbox{
    color: #0d0d16;    
}

.contact .row form .inputbox{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--black);
    border: var(--border);
}

.contact .row form .inputbox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputbox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #ffff;
    text-transform: none;
    background: none;
}


/*Blogs*/

.blog .heading{
    margin: 5rem;
}
.blog .box-container .box{
    width: 20% !important;
    border: var(--border);
    
}

.blog .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width:100%;
}

.blog .box-container .box .image img{
    height: 25rem;
    object-fit: cover;
    width:100%;
    padding-top: 2rem;
}

.blog .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blog .box-container .box p{
    color: #fff;
}

.blog .box-container .box .content{
    padding: 2rem;
}

.blog .box-container .box .content .title{
    font-size: 2rem;
    line-height: 1.5;
    color: #fff;
}

.blog .box-container .box .content .title:hover{
    color: var(--main-color)
}

.blog .box-container .box .content span{
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blog .box-container .box .content p{
    font-size: 1.6rem;
}

/*Footer*/

.footer{
    background: var(--black);
    text-align: center;
}

.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    border-radius: 50%;
    margin: .5rem;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    align-items: center;
    margin-top: 1.5rem;
}
.footer .links a{
    padding: 1.5rem;
    color: #fff;
}

.footer .links a:hover{
    color: var(--main-color);
}

.footer .credit{
    font-size:1rem;
    font-weight: lighter;
    padding: 2rem;
    color: #fff;
}   